.list-todo-container {
  margin: 0 auto;
}

.add-todo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-todo-content {
  width: 400px;
  margin: 0 auto;
}

.todo-child {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.btn-add {
  margin: 5px;
}
